body {
    background-color: black;
    color: limegreen;
    font-family: 'Noto Mono', 'Hack', 'DejaVu Sans Mono', monospace;
    font-size: 1.5em;
}

button {
    border: 2px solid limegreen;
    color: limegreen;
    border-radius: 0px;
    background-color: black;
    font-family: 'Noto Mono', 'Hack', 'DejaVu Sans Mono', monospace;
    font-size: 1em;
    font-weight: bold;
}

pre {
    font-size: 1.2em;
}

input, textarea {
    background-color: black;
    color: limegreen;
    border: 2px solid limegreen;
    font-family: 'Noto Mono', 'Hack', 'DejaVu Sans Mono', monospace;
    font-size: 1em;
}

#passwd {
    width: 19em;
}

#content {
    height: 2em;
    width: 27em;
}

#color {
    width: 6em;
}

#position {
    width: 1em;
}

#size {
    width: 2em;
}

#notice {
    width: 27em;
    height: 3em;
}

#level {
    width: 18em;
}

#shadow {
    width: 3em;
}

#filename {
    width: 17em;
}